@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 15% 10%; 
    --foreground: 210 40% 96%; 

    --card: 220 15% 12%; 
    --card-foreground: 210 40% 96%; 

    --popover: 220 15% 12%; 
    --popover-foreground: 210 40% 96%; 

    --primary: 210 40% 96%; 
    --primary-foreground: 220 15% 10%; 

    --secondary: 220 20% 20%; 
    --secondary-foreground: 210 40% 96%; 

    --muted: 220 20% 20%; 
    --muted-foreground: 210 20% 80%; 

    --accent: 220 20% 20%; 
    --accent-foreground: 210 40% 96%; 

    --destructive: 0 62.8% 35%; 
    --destructive-foreground: 210 40% 96%; 

    --border: 220 15% 18%; 
    --input: 220 15% 18%; 
    --ring: 210 40% 80%; 

    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 0.3s forwards; 
}

button:hover {
  transition: background-color 0.3s, color 0.3s;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.whitespace-pre-wrap h1 {
  font-size: 2rem; 
  font-weight: bold; 
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.whitespace-pre-wrap h2 {
  font-size: 1.5rem; 
  font-weight: 600; 
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.whitespace-pre-wrap h3 {
  font-size: 1.25rem; 
  font-weight: 500; 
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.whitespace-pre-wrap p {
  font-size: 1rem; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.whitespace-pre-wrap ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.whitespace-pre-wrap ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #fffdfd #16181d; 
}

.quill-container .ql-toolbar {
  position: sticky;
  top: 0;
  background: rgba(22,24,29,255);
  z-index: 10;
  border-top-left-radius: 0.375rem; 
  border-top-right-radius: 0.375rem;
}

.quill-container .ql-container {
  height: calc(100% - 42px); 
  border-bottom-left-radius: 0.375rem; 
  border-bottom-right-radius: 0.375rem;
  background-color: #222222; 
  color: #e5e5e5; 
  border: 1px solid #444444; 
}

.quill-container .ql-editor {
  background-color: #16181d; 
  color: #e5e5e5; 
  padding: 10px; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.animate-fade-in-delay {
  opacity: 0;
  animation: fadeIn 0.5s 0.5s forwards;
}
